<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <meta charset=utf-8>
	<meta name=viewport content="width=device-width, initial-scale=1">
	{% load static %}
	<!-- Style -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

		<nav class="navbar navbar-expand-md bg-white navbar-light fixed-top ">
			<div class="container p-2">
                <a href="" class="navbar-brand"> <h4>Clinic Management System</h4></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#collapsenavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse text-center" id="collapsenavbar">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item" >
							<a href="../" class="nav-link "> Home </a>
						</li>
						<li class="nav-item">
							<a href="" class="nav-link "> Services</a>
						</li>
						<li class="nav-item active">
							<a href="/contact" class="nav-link "> Contact</a>
						</li>
						<li class="nav-item">
							<a href="/about" class="nav-link "> About</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	    <div class="clear"></div>

        <div class="container">
                <div class="text-white text-center mt-4 mb-4"><h2>CONTACT US</h2></div>
        </div>


        <div class="container">
            <div class="row contactconatiner">
                <div class="col-sm-5 contactdetails">
                    <h4 class="text-center pb-2">How to find us </h4>
                    <h6 class="text-justify">If you have any questions, just fill in the contact form, and we will answer you shortly. If you are
                    living nearby, come and visit our clinic. </h6>
                    <br>
                    <h6 class="bg-white text-center p-2"><span class="fa fa-phone"> &nbsp </span> PHONE</h6>
                    <p class="text-center m-2.5"> +91 9820276110 &nbsp&nbsp|&nbsp +91 8209388720 </p>
                    <h6 class="bg-white text-center p-2"> <span class="fa fa-envelope"> &nbsp </span> E-MAIL</h6>
                    <p class="text-center m-2.5"> clinic@cms.com </p>
                    <h6 class="bg-white text-center p-2"> <span class="fa fa-map-marker"> &nbsp </span> ADDRESS</h6>
                    <p class="text-center text-justify m-3"> 101 - Shukla Building, Near Brand Factory, Mill Road, Goregaon (W), Mumbai - 400 098</p>
                </div>
                <form class="col-sm-7 contactform" method="POST">
                {% csrf_token %}
                    <h4 class="text-center">Have some questions ?</h4>
                    <div class="mb-3">
                          <label class="form-label">Name :</label>
                        <input type="text" class="form-control" id="contactName" placeholder="Name" name="pname" required="true">
                    </div>
                    <div class="mb-3">
                          <label  class="form-label">E-mail :</label>
                          <input type="email" class="form-control" id="contactEmail" placeholder="E-Mail" name="email" required="true">
                    </div>
                    <div class="mb-3">
                          <label class="form-label">Description :</label>
                          <textarea class="form-control" id="contactDesc" rows="3"  placeholder="Description" name="description" required="true"></textarea>
                    </div>
                    <div class="col-sm-10 contactsubmit">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="clear"></div>


        <footer class="bg-white text-center text-lg-start">
          <div class="container p-4">
            <div class="row">
              <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Footer Content</h5>
                    <p>
                      
                    </p>
              </div>
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                  <ul class="list-unstyled text-capitalize mb-0">
                     <li>
                        <a href="#!" class="text-dark text-decoration-none">home</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark text-decoration-none">services</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark text-decoration-none">contact</a>
                    </li>
                    <li>
                        <a href="#!" class="text-dark text-decoration-none">about</a>
                    </li>
                </ul>
              </div>

              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-1">Social</h5>
                    <ul class="list-unstyled">
                      <li>
                        <a href="#!" class="text-dark text-decoration-none">Linkedin</a>
                      </li>
                      <li>
                        <a href="#!" class="text-dark text-decoration-none">Facebook</a>
                      </li>
                    </ul>
              </div>
            </div>
          </div>

          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2021 Copyright:
            <a class="text-dark" href="http://127.0.0.1:8000/home/">ClinicManagementSystem.com</a>
          </div>
        </footer>
    </body>
</html>